/* GENERAL */

html, body {
	margin: 0;
	padding: 0;
	color: #333;
	font-size: 12px;
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

form {
	margin: 0;
}

#axe {
	width: 95%;
	margin: 0 auto;
}

#page {
	display: block;
	float: left;
	width: 100%;
	margin-top: 15px;
	background: #fff;
}

#bt {
	display: block;
	float: right;
	clear: both;
	text-align: right;
	margin-top: 10px;
}

legend {
	padding: 0 10px 0 30px;
	color: #333;
	font-weight: bold;
	font-size: 14px;
}

a {
	color: #45A6FF;
}

a:hover {
	color: #4F6681;
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	clear: both;
}

h1 {
	font-size: 30px;
	margin-top: 0;
	padding-bottom: 3px;
}

img {
	border: none;
}

p {
	margin: 0;
}

.nodisplay {
	display: none;
}

/* RECHERCHE */

#recherche {
	display: block;
	float: right;
	margin: 10px;
}

#recherche #champ {
	padding-left: 20px;
	background: #fff url("magnifier.gif") no-repeat 2px;
}

#recherche #input-rechercher {
	margin-left: 5px;
}

/* TOP */

#top {
	display: block;
	float: left;
	padding-top: 10px;
	width: 100%;
	clear: both;
	background: #f6f6f6 url("bgtop.gif") repeat-x bottom;
}

#top h1 {
	display: block;
	float: left;
	width: 100%;
	clear: both;
	font-size: 18px;
	margin-bottom: 10px;
}

/* NAVIGATION */

#top #nav {
	display: block;
	float: left;
	padding-left: 15px;
	margin: 0;
}

#nav a {
	display: block;
	float: left;
	padding : 25px 10px 5px 10px;
	text-decoration: none;
	text-align: center;
	border-top: 1px solid #f6f6f6;
	background-color: transparent;
	color: #222;
}

#nav li {
	display: block;
	float: left;
	list-style: none;
	padding:0 0 0 7px;
}

#nav a.current {
	border-top: 1px solid #c8c8c8;
	border-left: 1px solid #c8c8c8;
	border-right: 1px solid #c8c8c8;
	background-color: #fff;
}

#lien-deconnexion {
	background: url("lock.gif") no-repeat center 5px;
}

#lien-site {
	background: #fff url("report_magnify.gif") no-repeat center 5px;
}

#lien-liste {
	background: #fff url("page_copy.gif") no-repeat center 5px;
}

#lien-nouveau {
	background: #fff url("page_edit.gif") no-repeat center 5px;
}

#lien-preferences {
	background: #fff url("cog.gif") no-repeat center 5px;
}

/* SUBNAV */

#subnav {
	display: block;
	float: left;
	width: 100%;
	padding: 15px 0 5px 0;
}

/* AIDE WIKI */

#wikipage {
	display: block;
	float: left;
	width: 100%
	background: #fff;
}

/* FORMULAIRE IMAGE */

#form-image {
	display: block;
	float: left;
	width: 95%;
	padding: 10px;
	border: 1px solid #ddd;
	margin-top: 15px;
}

#form-image input {
	background: #f8f8f8;
}

#form-image p {
	float: left;
	margin: 5px;
}

#form-image label {
	display: inline;
	margin-right: 10px;
}

#form-image legend {
	background: url("image_add.gif") no-repeat 5px;
}

#legend-images {
	background: url("images.gif") no-repeat 5px;
	padding-left: 30px;
}

/* LISTE IMAGES */

#images {
	display: block;
	float: left;
	width: 100%;
	margin-top: 15px;
}

.image {
	display: block;
	float: left;
	width: 145px;
	height: 140px;
	text-align: center;
	list-style-type: none;
	margin-left: 0;
	margin: 4px;
	background: #eee;
	border: 1px dashed #ccc;
}

.image img {
	padding: 4px;
	margin: 5px;
	background: #fff;
	border: 1px solid #ddd;
}

.image p {
	margin: 0;
}

.image .del {
	background: #eee;
	float: right;
	bottom: 0;
	border: none;
	margin: 0;

}

/* COMMENTAIRES */

.commentbloc {
	padding : 5px 15px 5px 30px;
	margin-bottom: 10px;
	background: #edf3fe url("comment.gif") no-repeat 5px 5px;
	border-bottom: 1px solid #ccc;
}

.commentbloc h3 {
	display: inline;
	margin-right: 15px;
}

.commentbloc .date {
	font-style: italic;
	margin-right: 15px;
	margin-bottom: 15px;
}

.commentbloc .email {
	display: inline;
	margin-right: 15px;
}

.titre-commentaire {
	font-size: 16px;
}

.suppr-commentaire {
	text-align: right;
}

.poster-comment {
	padding-left: 20px;
	background: url("user_comment.gif") no-repeat left;
}

#form-commentaire label {
	margin-top: 10px;
}

#form-commentaire textarea {
	width: 98%;
	padding: 4px;
	background: #f9f9f9;
}

#form-commentaire input {
	padding: 2px;
}


/* ERREURS */

#erreurs, .erreurs {
	display: block;
	clear: both;
	color: #D40000;
	margin: 0 0 15px 0;
}

#erreurs ul {
	list-style-type: square;
	padding-left: 20px;
	margin-top: 10px;
}

#erreurs li {
	margin: 0;
}

/* CONFIRM */

.confirmation {
	clear: both;
	font-weight: bold;
	margin: 0;
	padding: 5px 5px 5px 25px;
	background: #e8fcd9 url("accept.gif") no-repeat 4px;
	border-bottom: 1px dashed #badca0;
	color : #4E9B41;
}

/* PREFERENCES */

fieldset {
	clear: both;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 0;
	margin-bottom: 10px;
}

fieldset p {
	display: block;
	clear: both;
	margin-top: 10px;
	margin-bottom: 10px;
}

fieldset label {
	color: #666;
	float: left;
	width: 30%;
	margin: 0 15px 0 0;
	padding: 3px;
	text-align: right;
}

fieldset input, fieldset textarea {
	display: inline;
	padding: 2px;
}

.legend-user{
	background: url("user.gif") no-repeat 5px;
}

.legend-apparence{
	background: url("overlays.gif") no-repeat 5px;
}

.legend-securite{
	background: url("lock_edit.gif") no-repeat 5px;
}

.legend-dateheure{
	background: url("clock.gif") no-repeat 5px;
}

.legend-config{
	background: url("bullet_wrench.gif") no-repeat 5px;
}


/* APERCU */

#apercu {
	display: block;
	clear: both;
	padding: 15px;
	margin: 0 0 20px 0;
	border: 1px dashed #ccc;
}

#apercu p {
	margin-top: 5px;
	margin-bottom: 5px;
}

#apercu img {
	display: block;
	margin: 0 auto;
	padding: 2px;
	border: 1px solid #ddd;
}

h1#titre-apercu {
	padding-left: 25px;
}

/* LABEL */

label {
	display: block;
	margin-bottom: 5px;
}

input {
	border: 1px solid #999;
	margin: 0;
}

textarea {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	display: block;
	border: 1px solid #9999a3;
}

.submit {
	display: block;
	float: right;
	margin-left: 15px;
	padding: 2px 5px;
	color: #fff;
	background: #45A6FF;
	border-color: #2E83D9;
	font-size: 14px;
	font-weight: bold;
}

.submit-suppr {
	display: block;
	float: right;
	margin-left: 15px;
	padding: 2px 5px;
	color: #fff;
	background: #CC0000;
	border-color: #990000;
	font-size: 14px;
}

.info {
	padding-left: 20px;
	background: no-repeat left center url("info.gif");
}

/* ECRIRE */

#form {
	clear: both;
}

#form #wiki {
	float: right;
	text-align: right;
	padding-left: 20px;
}

/* MODES ECRIRE */

#mode {
	display: block;
	float: right;
	margin: 0 25px 0 0;
}

#mode li {
	float: left;
	color: #666;
	font-weight: bold;
	list-style-type: none;
}

#mode li a {
	text-decoration: none;
	font-weight: normal;
}

#lien-edit {
	margin-right: 10px;
}

#lien-comments {
	padding-left: 10px;
	border-left: 1px solid #777;
}

#backlist {
	float: left;
	margin-left: 25px;
	text-decoration: none;
}

#date, #opts {
	float: left;
	clear: both;
}

#date {
	margin-top: 15px
}

#opts {
	margin-top: 10px
}

#formdate, #formheure {
	display: block;
	float: left;
	padding-left: 20px;
}

#formdate {
	background: url("date.gif") no-repeat left;
}

#formheure {
	margin-left: 15px;
	background: url("clock.gif") no-repeat left;
}

/* FORMS ECRIRE */

#formdate label {
	display: none;
	margin-right: 10px;
}

#formstatut {
	float: left;
	padding-left: 20px;
	background: url("book_open.gif") no-repeat left;
}

#formstatut label, #formallowcomment label {
	display: inline;
	margin-right: 5px;
}

#formallowcomment {
	float: left;
	padding-left: 20px;
	margin-left: 15px;
	background: url("comments.gif") no-repeat left;
}

#titre{
	width: 98%;
	clear: both;
	padding: 5px;
	margin-bottom: 15px;
	font-weight: bold;
	font-size: 16px;
	background: #fff;
}

#chapo {
	width: 98%;
	clear: both;
	height: 75px;
	background: #fffae5;
	padding: 5px;
	margin-bottom: 15px;
}

#contenu {
	width: 98%;
	clear: both;
	padding: 5px;
	background-color: #f9f9f9;
}

label.inline {
	display: inline;
	margin-right: 10px;
}

input.inline {
	margin: 0;
	display: inline;
}


/* AUTH */


#pageauth {
	width: 35%;
	display: block;
	clear: both;
	margin: 50px auto 25px auto;
	padding-left: 150px;
	background: url("logo.jpg") no-repeat left top;
}

#pageauth label {
	margin-top: 15px;
}

#pageauth input {
	padding: 2px;
	background: #f5f5f5;
}

#pageauth #subauth {
	margin-top: 15px;
}

#pageauth .inpauth {
	margin-top: 15px;
	padding: 2px 5px;
	color: #fff;
	background: #45A6FF;
	border-color: #2E83D9;
	font-size: 14px;
	font-weight: bold;
}

#logo {
	margin: 0;
	font-size: 36px;
}

#step {
	font-size: 20px;
	margin: 0;
	color: #999;
}


/* LISTE BILLETS */


#billets {
	clear: both;
	width: 100%;
	padding: 0;
	margin: 0;
	border-collapse:collapse;
}

#billets a {
	text-decoration: none;
}

#billets th {
	text-align: left;
	padding: 3px 0 3px 5px;
	font-size: 14px;
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	border-bottom: 1px solid #ccc;
}

#billets tr {
	width: 100%;
}

#billets td {
	padding: 5px;
}

#billets .c {
	background: #edf3fe;
}

#billets .on {
	padding-left: 25px;
	color: #000;
	margin: 0;
	background: url("on.gif") no-repeat left;
}

#billets .off {
	padding-left: 25px;
	color: #000;
	margin: 0;
	background: url("off.gif") no-repeat left;
}

#billets .lien {
	text-align: right;
	padding-right: 10px;
}

#billets a:hover {
	color: #45A6FF;
	text-decoration: underline;
}

#billets .titre {
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	font-size: 14px;
	width: 50%;
}

#billets #nbart {
	padding-top: 8px;
	font-weight: normal;
	text-align: center;
	border-top: 1px solid #ccc;
	border-bottom: none;
}


#form-filtre {
	margin-bottom: 15px;
}

#form-filtre label {
	display: none;
}

/* FOOTER */

#footer {
	clear: both;
	width: 100%;
	text-align: center;
	color: #666;
	padding-top: 10px;
	padding-bottom: 6px;
	margin: 0;
	font-size: 10px;
}

#footer a {
	color : #888;
	text-decoration : none;
}

#footer a:hover {
	color : #333;
}