/* GENERAL */

html, body {
	margin: 0;
	padding: 0;
	color: #333;
	font-size: 12px;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	background: white;
}

#axe {
	width: 95%;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	clear: both;
}

h1 {
	font-size: 30px;
	margin-top: 0;
	padding-bottom: 3px;
}

/* AIDE WIKI */

#wikipage {
	display: block;
	float: left;
	width: 100%;
	background: #fff;
}

pre span {
	color: blue;
}

